input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  /* border: 2px solid rgb(201, 55, 86); */
  size: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-option {
  display: inline-block;
  margin-left: 7px
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 4px dashed #ccc;
  border-radius: 30px;
  background: #575757;
  
  &.hovering {
    border: 4px dashed rgb(240, 143, 144);
    color: rgb(241, 144, 114) !important;
  }
}

.instructionDropZone {
  display: flex;
}