<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button 
          class="btn btn-success" 
          type="submit"
          [disabled]="!recipeForm.valid"
          mat-fab
          color="primary"
          style="margin-right: 10px;">Save</button>
          <button 
          class="btn btn-danger" 
          type="button"
          mat-fab
          color="accent"
          (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" value="Sushi" id="name" formControlName="name">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <mat-form-field class="example-full-width">
              <input 
              matInput
              type="text" 
              id="imagePath" 
              formControlName="imagePath"
              #imagePath>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <textarea 
              matInput 
              placeholder="Ex. It makes me feel..."
              formControlName="description"
              type="text"
              rows="10"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <mat-form-field>
            <mat-label>Dietary Preferences</mat-label>
            <mat-select formControlName="dietaryPreferences" multiple>
              <div class="row" 
              *ngFor="let preference of preferences; let i = index">
                <mat-option [value]="preference.value" (click)="selectAllOptions(preference.value)">{{ preference.value }}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div 
          class="row" 
          *ngFor="let ingredientCtrl of $any(recipeForm.get('ingredients')).controls; let i = index"
          [formGroupName]="i"
          style="margin-top: 10px;">
            <div class="col-xs-8">
              <input
              type="text"
              class="form-control"
              formControlName="name">
            </div>
            <div class="col-xs-2">
              <input
              type="number"
              class="form-control"
              formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button 
              type="button"
              mat-mini-fab
              color="warn"
              (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button 
              type="button"
              mat-flat-button
              color="primary"
              (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>