input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  /* border: 2px solid rgb(201, 55, 86); */
  size: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-option {
  display: inline-block;
  margin-left: 7px
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 4px dashed #ccc;
  border-radius: 30px;
  background: #575757;
  
  &.hovering {
    border: 4px dashed rgb(240, 143, 144);
    color: rgb(241, 144, 114) !important;
  }
}

.instructionDropZone {
  display: flex;
}

.example-list {
  /* width: 500px; */
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: rgb(62, 62, 62);
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  /* padding: 20px 10px; */
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display:flow-root;
  /* flex-direction:initial; */
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #707070;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image-class {
  width: 50%;
  height: 50%;
  object-fit:fill;
  border-radius: 30px;
}