<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <mat-card class="fixed-position">
    <mat-tab-group>
      <mat-tab label="Description">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <br />
                  <button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid" mat-fab color="primary" style="margin-right: 10px;">Save</button>
                  <button class="btn btn-danger" type="button" mat-fab color="accent" (click)="onCancel()">Cancel</button>
                </div>
              </div>
              <br />
              <hr />
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Name" value="Sushi" id="name" formControlName="name" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">
                  <div class="file">
                    <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: aliceblue; font-size: larger;">Drag and drop your food image here</p>
                    <div class="file">
                      <label class="file-label">
                        <input class="file-input" type="file" (change)="onDrop($event.target.files)" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: aliceblue; font-size: larger;" />
                      </label>
                    </div>
                  </div>
                </div>
                <h3 style="color: aliceblue;"><b>or</b> enter your food image URL down below</h3>
                <div class="col-xs-12">
                  <div *ngFor="let file of files">
                    <uploader [file]="file" (downloadUrlReady)="handleDownloadUrl($event)" [isHovering]="toggleHover($event)"> </uploader>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="imagePath"></label>
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" id="imagePath" formControlName="imagePath" #imagePath placeholder="Image URL" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <img [src]="imagePath.value" class="img-responsive" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>Description</mat-label>
                      <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description" type="text" rows="10"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <mat-form-field>
                    <mat-label>Dietary Preferences</mat-label>
                    <mat-select formControlName="dietaryPreferences" multiple>
                      <div *ngFor="let preference of preferences; let i = index">
                        <mat-option [value]="preference.value" (click)="selectAllOptions(preference.value)">{{ preference.value }}</mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                  <div class="row" 
                  *ngFor="let ingredientCtrl of $any(recipeForm.get('ingredients')).controls; 
                  let i = index" 
                  [formGroupName]="i" 
                  style="margin-top: 10px;">
                    <div class="col-xs-8">
                      <input type="text" class="form-control" formControlName="name" />
                    </div>
                    <div class="col-xs-2">
                      <input type="number" class="form-control" formControlName="amount" />
                    </div>
                    <div class="col-xs-2">
                      <button type="button" mat-mini-fab color="warn" (click)="onDeleteIngredient(i)">X</button>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-xs-12">
                      <button type="button" mat-flat-button color="primary" (click)="onAddIngredient()">Add Ingredient</button>
                      <br />
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Instruction">
        <div class="row">
          <div class="col-xs-12" formArrayName="instructions">
            <div class="row" 
            *ngFor="let instructionCtrl of $any(recipeForm.get('instructions')).controls; let i = index" 
            [formGroupName]="i" 
            style="color: aliceblue; margin-top: 10px;">
              <div class="col-xs-8">
                <mat-form-field class="example-full-width">
                  <mat-label>Instruction</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..." formControlName="instDescription" type="text" rows="10"></textarea>
                </mat-form-field>
              </div>
              <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">
                <div class="file">
                  <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: aliceblue; font-size: larger;">Drag and drop your instruction image here</p>
                  <div class="file">
                    <label class="file-label">
                      <input class="file-input" type="file" (change)="onDrop($event.target.files)" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: aliceblue; font-size: larger;" />
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-xs-8">
                <mat-form-field class="example-full-width">
                  <mat-label>Image URL</mat-label>
                  <input matInput #insImagePath type="text" id=" insImagePath" formControlName="insImagePath" />
                </mat-form-field>
              </div>
              <div class="col-xs-2">
                <button type="button" mat-raised-button color="warn" (click)="onDeleteInstruction(i)">Delete</button>
              </div>
              <div class="col-xs-12">
                <img [src]="insImagePath.value" class="img-responsive" />
              </div>
            </div>
            <hr />
            <div class="col-xs-12">
              <button type="button" mat-flat-button color="primary" (click)="onAddInstruction()">Add Instruction</button>
            </div>
          </div>
        </div> 
      </mat-tab>
      <mat-tab label="Nutrition">
        <div class="row">

        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</form>
