<h2 style="color: aliceblue;"> {{ selectedPreference }}</h2>
<div cdkDropList class="example-list">
  <div 
  class="example-box" 
  cdkDrag
  *ngFor="let recipeEl of filteredRecipes; index as i"
  [index]="i"
  [cdkDropListData] = "filteredRecipes"
  style="cursor: pointer;"
  [routerLink]="[i]"
  (cdkDropListDropped)="onDrop($event)"
  class="list-group-item clearfix"
  active>
    <div class="row">
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <h4 class="list-group-item-heading">{{ recipeEl.name }}</h4>
      <span>
      <mat-chip-listbox *ngFor="let preference of recipeEl.dietaryPreferences" style="display: inline-block; margin-right: 3px;">
        <mat-chip>
          {{ preference }}
        </mat-chip>
      </mat-chip-listbox>
      </span>
      <br/>
      <br/>
      <span>
        <p>{{ recipeEl.description }}</p>
      </span>
      <span class="pull-right">
      <img 
      [src]="recipeEl.imagePath"
      alt="{{ recipeEl.name }}" 
      class="img-responsive" 
      style="max-height: 50px;">
      </span>
    </div>
  </div>
</div>
<!-- 
<app-recipe-list (selectPreferenceChanged)="onFilterChanged()"></app-recipe-list> -->