<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div 
  class="example-box" 
  cdkDrag
  *ngFor="let recipeEl of recipeArray; let idx = index"
  [index]="idx"
  style="cursor: pointer;"
  [routerLink]="[idx]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
  <h4 class="list-group-item-heading">{{ recipeEl.name }}</h4>
  <span>
    <p>{{ recipeEl.description }}</p>
  </span>
  <span class="pull-right">
    <img 
    [src]="recipeEl.imagePath"
    alt="{{ recipeEl.name }}" 
    class="img-responsive" 
    style="max-height: 50px;">
  </span>
  </div>
</div>