<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input 
              matInput 
              (input)="onNameChange($event.target.value)"
              type="text" 
              id="name" 
              name="name"
              ngModel
              required
              >
          </mat-form-field>
        </div>
        <div class="col-sm-2 form-group">
          <mat-form-field>
            <mat-label for="amount">Amount</mat-label>
            <input 
            matInput 
            type="number" 
            id="amount" 
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            >
          </mat-form-field>
        </div>
        <div class="col-xs-12 form-group">
          <button class="btn btn-success" 
          type="submit" 
          [disabled]="!f.valid"
          >{{ editMode ? 'Update' : 'Add' }}</button>
          <button 
          class="btn btn-danger" 
          type="button" 
          (click)="onDelete()"
          *ngIf="editMode">Delete</button>
          <button 
          class="btn btn-primary" 
          type="button" 
          (click)="onClrear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>