<div class="row">
  <div class="col-xs-12">
    <button mat-raised-button color="accent" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <h2 
    style="color: rgb(240, 143, 144); 
    font-family: 'Franklin Gothic Medium';">
      RECIPES BASED ON DIETARY PREFERENCES
    </h2>
    <mat-chip-listbox
    *ngFor="let preference of preferences">
      <mat-chip-option (click)="onSelectPreferencesChange(preference)">{{ preference.value }}</mat-chip-option>
    </mat-chip-listbox>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item [onSelectPreferences]="onSelectPreferences"></app-recipe-item>
  </div>
</div>