<div class="row">
  <div class="col-xs-12">
    <button mat-raised-button color="accent" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <h2 
    style="color: rgb(240, 143, 144); 
    font-family: 'Franklin Gothic Medium';">
      RECIPES BASED ON DIETARY PREFERENCES
    </h2>
 
      <div *ngFor="let preference of preferences; let i = index" style="color: aliceblue;">
        <input type="radio"
        name="filter"
        [value]="preference.value"
        [(ngModel)]="selectedPreferences"
        (selectedPreferencesChange)="selectedPreferences=$event"
        >
        <span> {{ preference.value }}</span>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item [preferences]="selectedPreferences"></app-recipe-item>
  </div>
</div>