<div class="row">
  <div class="col-xs-12">
    <button mat-raised-button color="accent" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <h2 
    style="color: rgb(240, 143, 144); 
    font-family: 'Franklin Gothic Medium';">
      RECIPES BASED ON DIETARY PREFERENCES
    </h2>
    <mat-chip-listbox>
      <mat-chip-option></mat-chip-option>
      <mat-chip-option></mat-chip-option>
      <mat-chip-option color="accent">Accent fish</mat-chip-option>
      <mat-chip-option color="warn">Warn fish</mat-chip-option>
    </mat-chip-listbox>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item></app-recipe-item>
  </div>
</div>